<!DOCTYPE HTML>
<html xml:th="http://www.thymeleaf.org" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8"/>
    <title>User List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>User List</h1>

<div>
    <table>

        <tr th:each="user : ${users}">
            <td th:text="${user.getName}"></td>
            <td th:text="${user.getEmail}"></td>
            <td th:text="${user.getPassword}"></td>
            <td th:text="${user.getFirstName}"></td>
            <td th:tex="${user.getWallet}"></td>

        </tr>

        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

    </table>
</div>
</body>
</html>